* {
    margin:0;
}
.div1 {
    margin: 2% 5% 0%; 
    background-color: gray;
    color: white;
    width: 10vw;
    padding: 1vw 2vw;
    font-size: larger;
    text-align: center;
}
.div2 {
    background-color: white;
    color: black;
    border: 1px solid gray;
    width: 15vw;
    margin-top: 1vw;
    margin-left: -2vw;
    margin-bottom: -1vw;
    text-align: left;
    display: none;
}

.div1:hover .div2 {
    display: block;
}
